#paraContainer{ 
    border: 1px solid grey;
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 40px;
}
.para{
    width: 80%;
    margin: auto;
    text-align: justify;
 }


 #more {display: none;};


  